/* homepage.css */

.homeDiv {
  background-color: #E2E2E2; 
  color: #19747E; 
  padding: 20px; 
  border-radius: 10px; 
  font-size: 20px;
}

.homeDiv h1 {
  color: #19747E; 
  margin-bottom: 20px; 
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.team-item {
  background-color: #ffffff; 
  color: #000000; 
  padding: 15px; 
  margin-bottom: 10px; 
  border-radius: 7px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  
}

.team-item h3 {
  text-align: left; 
  margin-bottom: 5px; 
}

.team-list{
  display: flex;
  flex-direction: column;
}
