/* homepage.css */

.homeDiv {
  background-color: #E2E2E2; 
  color: #19747E; 
  padding: 20px; 
  border-radius: 10px; 
  font-size: 20px;
}

.homeDiv h1 {
  color: #19747E; 
  margin-bottom: 20px; 
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.filter-container {
  display: flex;
}

.team-item {
  border: 1px solid #ccc; 
  border-radius: 7px; 
  padding: 15px; 
  background-color: #f8f8f8; 
  transition: all 0.3s ease; 
  flex: 1 0 calc(25% - 20px); /* allows for 4 items per row */
  max-width: calc(25% - 20px); 
  margin: 10px;
  
}

.team-item:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.team-item h3 {
  text-align: left; 
  margin-bottom: 5px; 
  
  
}

.team-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  justify-content: flex-end;
  flex: 1;
  margin-left: auto;

}
